@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: 'Inter', sans-serif;
  --font-ibm: 'IBM Plex Mono', monospace;
  --font-space: 'Space Grotesk', sans-serif;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  cursor: none; /* Hide the default cursor */
  overflow: hidden; /* Prevent overflow */
}

.cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #ffffff;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 1s ease-in-out;
  z-index: 9999;
}

/* Ripple effect */
.ripple {
  animation: ripple-animation 0.5s forwards;
}

@keyframes ripple-animation {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}